<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <style>
      #selector a:link{color:black;}
      #selector a:visited{color:black;}
      #selector a:active{color:black;}
      #selector a:hover{color:blue;}
      #sidebar a:link{color:black;}
      #sidebar a:visited{color:black;}
      #sidebar a:active{color:black;}
      #sidebar a:hover{color:blue;}
      ul {margin-left:0;list-style-type:none;}
      li {margin: 4px 0;}
    </style>
  </head>
  <body>
    <div id="selector" style="top:0; position:fixed; background-color:#d9d9d9; text-align:center; width:100%;border-bottom:1px solid black;">
      <a href="../maas-vanilla/zork" style="border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;">
	&nbsp;Full&nbsp;
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>
	<a href="../maas-ui-only/zork" style="background-color:white;border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;border-bottom:5px solid white;">
	  &nbsp;UI-only&nbsp;
	</a>
      </strong>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="../maas-cli-only/zork" style="border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;">
	  &nbsp;CLI-only&nbsp;
	</a>
    </div>
    <div id="sidebar" style="float:left; width:25%;margin-top:40px; margin-left:20px">
      <strong>
	<a href="../maas-vanilla/maas-documentation-25.html">
	  Introduction
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/about-maas-840.html">
	    About MAAS
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/give-me-an-example-of-maas-1314.html">
	    &ldquo;Give me an example&rdquo;
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/explore-maas-787.html">
	    Explore MAAS
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/whats-new-in-maas-2-8-1655.html">
	    What&rsquo;s new in 2.8
	  </a>
	</li>
	<li>
	  <a href="https://maas.io/install">
	    Quick start
	  </a>
	</li>
      </ul>
      <strong>Installing MAAS
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/maas-requirements-789.html">
	    Requirements
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/maas-installation-from-a-snap-773.html">
	    Installation
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/configuration-journey-781.html">
	    Configuration journey
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/installation-and-configuration-checklist-750.html">
	    Setup checklist
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/introduction-to-controllers-786.html">
	  Controllers
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/maas-communication-783.html">
	    Communication
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/rack-controllers-771.html">
	    Rack controllers
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/region-controllers-772.html">
	    Region controllers
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/high-availability-804.html">
	    High availability
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/introduction-to-machines-829.html">
	  Machines
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/add-machines-821.html">
	    Add machines
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/power-management-830.html">
	    Power management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/commission-machines-822.html">
	    Commission machines
	  </a>
	</li>
	<li>Testing
	</li>
	<li>
	  <a href="../maas-vanilla/hardware-testing-826.html">
	    Hardware testing
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/network-testing-1267.html">
	    Network testing
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/commissioning-and-hardware-testing-scripts-833.html">
	    Commissioning and hardware testing scripts
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/deploy-machines-825.html">
	    Deploy machines
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/maas-tags-834.html">
	    Tags
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/custom-machine-setup-824.html">
	    Custom machine setup
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/kernel-boot-options-827.html">
	    Kernel boot options
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/resource-pools-831.html">
	    Resource pools
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/storage-775.html">
	    Storage
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/vmware-vmfs-datastores-780.html">
	    VMware VMFS datastores
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/ubuntu-kernels-828.html">
	    Ubuntu kernels
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/images-754.html">
	  Images
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/select-and-import-images-751.html">
	    Select and import images
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/local-image-mirror-752.html">
	    Local image mirror
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/vmware-images-753.html">
	    VMWare images
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/networking-768.html">
	  Networking
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/subnet-management-766.html">
	    Subnet management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/managing-dhcp-759.html">
	    DHCP
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/ip-ranges-760.html">
	    IP ranges
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/proxy-763.html">
	    Proxy
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/ntp-services-762.html">
	    NTP
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/network-discovery-758.html">
	    Network discovery
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/ipv6-addressing-761.html">
	    IPv6
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/configuring-tls-encryption-764.html">
	    SSL
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/managing-stp-765.html">
	    STP
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/availability-zones-820.html">
	    Availability zones (AZs)
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/introduction-to-vm-hosting-1524.html">
	  VM hosting
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/vm-host-networking-1526.html">
	    VM host networking
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/adding-a-vm-host-1549.html">
	    Add a VM host
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/vm-host-storage-pools-1525.html">
	    VM host storage pools
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/creating-and-deleting-vms-806.html">
	    Creating and deleting VMs
	  </a>
	</li>
      </ul>
      <strong>Operations
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/prometheus-metrics-813.html">
	    Prometheus metrics
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/backup-792.html">
	    Backup
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/hardening-your-maas-installation-1381.html">
	    MAAS security
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/maas-logging-1468.html">
	    Logging
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/commissioning-logs-1478.html">
	    Commissioning logs
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/user-accounts-790.html">
	    User accounts
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/interactive-search-819.html">
	    Interactive search
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/concepts-and-terms-785.html">
	  Concepts &amp; terms
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/concepts-and-terms-785.html#heading--network-tutorial">
	    Brief network tutorial
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/maas-cli-802.html">
	  CLI
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/common-cli-tasks-794.html">
	    Common tasks
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/audit-event-logs-791.html">
	    Audit event logs
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-kernel-management-799.html">
	    Kernel management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-image-management-797.html">
	    Image management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-interface-management-798.html">
	    Interface management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-tag-management-801.html">
	    Tag management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-resource-pool-management-800.html">
	    Resource pool management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-dhcp-snippet-management-796.html">
	    DHCP snippet management
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-commissioning-and-hardware-testing-scripts-832.html">
	    Commissioning and hardware testing scripts
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-advanced-tasks-793.html">
	    Advanced tasks
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/cli-composable-hardware-795.html">
	    Composable hardware
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/python-api-client-810.html">
	    API client
	  </a>
	</li>
      </ul>
      <strong>
	<a href="https://maas.io/docs/api">
	  API documentation
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/api-authentication-742.html">
	    API authentication
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/troubleshooting-837.html">
	  Troubleshoot
	</a>
      </strong>
      <ul>
	<li>
	  <a href="../maas-vanilla/getting-help-838.html">
	    Getting help
	  </a>
	</li>
	<li>
	  <a href="../maas-vanilla/tips-tricks-and-traps-1506.html">
	    Tips, tricks, and traps
	  </a>
	</li>
	<li>
	  <a href="https://old-docs.maas.io/2.5/en/">
	    MAAS 2.5 (+ earlier) doc
	  </a>
	</li>
      </ul>
      <strong>
	<a href="../maas-vanilla/whats-new-in-maas-2-8-1655.html">
	  Release notes
	</a>
      </strong>
      <p/>
      <strong>
	<a href="../maas-vanilla/writing-guide-747.html">
	  Help improve these docs
	</a>
      </strong>
    </div>
    <div class="container" style="float:right; width:65%; margin-top:40px; margin-right:30px">
      {{content}}
    </div>
  </body>
</html>
